@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --blue: #2980b9;
    --orange: #ff3300;
    --primary: red;
    --bg: #000;
    --gold: #ffa600;
    /* --blue: #ff4040;
    --orange: orange;
    --primary: #009cde;
    --bg: #000;
    --gold: #ffa500; */
}
@font-face {
    font-family: 'mummy-font';
    src: url(../fonts/JMH\ Mummy\ Fill.ttf);
}
/* global styles starts */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}
*::selection{
    background: var(--orange);
    color: #fff;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.container{
    width: 95%;
    margin: 0 auto;
}
form{
    width: 60%;
    margin: 0 auto;
    padding: 4rem;
}
form.paypal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form.paypal input[type="image"]{
    max-width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 2px solid #ccc;
}
form #website{ display:none; }
.submit{
    border-color: red;
    background: red;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    flex-basis: 30%;
}

.submit:hover{
    border-color: var(--primary);
    background: #000;
    letter-spacing: 0.2rem;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}
.btn{
    width: 16rem;
    background: #000;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn.active,
.btn:hover{
    letter-spacing: 0.1rem;
    background: var(--primary);
    color: #fff;
    box-shadow: 0 0 10px var(--primary);
}
.pad-top{
    padding-top: 2rem;
}
.heading{
    border-bottom: 0.3rem solid var(--primary);
    margin: 0 auto;
}
.heading span{
    background: var(--primary);
    border-top-right-radius: 1.8rem;
    border-top-left-radius: 1.8rem;
    padding: 1.2rem 4rem;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #fff;
    letter-spacing: 0.3rem;
}
.card{
    margin: 2rem ;
    padding: 1rem;
    display: flex;
    box-shadow: 0 0 10px #000;
    border-radius: 1rem;
}
.card .text-side{
    padding-left: 2rem;
}
.card .text-side h4{
    font-size: 2.5rem;
    color: var(--blue);
}
.card .text-side p{
    padding: 1rem;
    font-size: 1.5rem;
}


nav{
    padding: 2rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 0.5rem solid transparent;
}
nav .logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
nav .logo a img{
    padding-right: 2rem;
    width: 6rem;
}
nav .logo h2{
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: 300;
}
nav .logo a:hover{
    transform: translateX(1rem);
}
nav .links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav .links ul li a{
    font-size: 1.5rem;
    padding: .5rem;
    border: 1px solid transparent;
    background: transparent;
}
nav .links ul li a.active,
nav .links ul li a:hover{
    background: var(--bg);
    border: 1px solid var(--gold);
}
nav .links ul li a{
    text-decoration: none;
    color: #fff;
}
.fixed-header{
    background: var(--primary);
    border-bottom: 0.5rem solid #000;
}
.fa-bars{
    display: none;
}
header .header-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #000;
    width: 100%;
    height: 90vh;
}
header .header-1 .logo img{
    max-height: 20rem;
    margin-bottom: 20px;
}
header .header-1 .logo h2{
    font-family: 'mummy-font';
    font-size: 5rem;
    font-weight: 300;
    color: var(--gold);
    line-height: 6rem;
}
header .header-1 .description{
    color: #999;
    font-size: 2rem;
    margin-top: 4rem;
    line-height: 4rem;
    padding: 4rem;
    background: rgba(255,255,255,0.1);
}
header .header-1 .description span{
    color: var(--blue);
    font-size: 2.3rem;
}
header .header-1 .description span:nth-child(1){
    color: var(--gold);
    font-family: 'mummy-font', cursive;
    border-bottom: 0.2rem solid var(--gold);
}

#subscribe{
    background: #000;
}
#subscribe #contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.gallery{
    min-height: 100vh;
}
.gallery ul.controls{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery ul.controls li{
    text-align: center;
    line-height: 4rem;
    margin: 2rem 1rem;
}
.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1rem 1rem;
    padding: 2rem 0 ;
}
.gallery .box-container .all-product{
    /* height: auto; */
    margin: 0.5rem ;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
    /* border-radius: 0.5rem; */
    position: relative;
}
.gallery .box-container .all-product::before{
    position: absolute;
    content: "50% off";
    top: 0;
    left: 0;
    width: 25%;
    height: 5%;
    background: #000;
    border: 0.4rem solid var(--bg);
    color: var(--gold);
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .box-container .all-product .box{
    position: relative;
    height: 100%;
    
}
.gallery .box-container .box .image{
    width: 100%;
    height: 30rem;
    text-align: center;
    overflow: hidden;
}
.gallery .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* justify-self: center; */
}

.gallery .box-container .box .info{
    border-top: 0.2rem solid rgba(0,0,0,0.5);
}

.gallery .box-container .box .info h3{
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #444;
    
}
.gallery .box-container .box .info .subInfo{
    border-top: 0.2rem solid rgba(0,0,0,0.5);
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
}
.gallery .box-container .box .info .subInfo strong{
    font-size: 2.6rem;
    color: var(--blue);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 0.2rem solid var(--orange);
    border-radius: 1rem;
    display: inline-block;
    width: 100%;
}
.gallery .box-container .box .info .subInfo strong span{
    color: #999;
    text-decoration: line-through;
    font-size: 2.2rem;
}
.gallery .box-container .box .info .subInfo .stars{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.gallery .box-container .box .info .subInfo .stars i{
    font-size: 2rem;
    color: var(--gold);
}
.gallery .box-container .box .overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    z-index: 2;
}
.gallery .box-container .box .overlay i{
    font-size: 5rem;
    margin: 2rem;
    color: var(--primary);
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    transform: translateY(-20rem);
}
.gallery .box-container .box:hover .overlay{
    transform: scale(1);
}
.gallery .box-container .box:hover .overlay i{
    transform: translateY(0);
}
.gallery .box-container .box .overlay i:hover{
    background: var(--primary);
    color: #fff;
    cursor: pointer;
}

.popup-overlay{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 1000;
    display: none;
}
.popup-overlay .popup{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background: #fff;
    border-radius: 2rem;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
    align-items: flex-start;
    /* gap: 1rem 1rem; */
    overflow-y: scroll;
}
.popup-overlay .popup .fa-times{
    position: absolute;
    top: 2%; right: 4%;
    font-size: 3rem;
    cursor: pointer;
    background-color: var(--gold);
    padding: 0.5rem;
    border-radius: 0.5rem;

}
.popup-overlay .popup .images{
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column-reverse;
    padding-top: 4rem;
    padding-left: 1rem;
}
.popup-overlay .popup .images .big-image{
    width: 45rem;
    height: 45rem;
    border-radius: 1rem;
    text-align: center;
}
.popup-overlay .popup .images .big-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 0.3rem solid #000;
}
.popup-overlay .popup .images .small-iamges{
    display: flex;
    /* flex-flow: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}
.popup-overlay .popup .images .small-iamges .small-img{
    margin: 0.5rem;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}
.popup-overlay .popup .images .small-iamges img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 0.2rem solid transparent;
    transform: scale(1);
}
.popup-overlay .popup .images .small-iamges img.active{
    border: 0.2rem solid var(--gold);
    transform: scale(1.05);
    /* border-radius: 50%; */
}
.popup-overlay .popup .content{
    padding: 4rem 2rem;
    flex: 2;
    color: #000;  
}

.popup-overlay .popup .content .title{
    font-size: 3.5rem;
    color: var(--primary);
}
.popup-overlay .popup .content .price{
    font-size: 2.5rem;
    padding: 2rem 0;
}
.popup-overlay .popup .content .price .after{
    color: var(--blue);
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 0.2rem solid var(--primary);
    /* border-radius: 0.5rem; */
    font-size: 2.5rem;
}
.popup-overlay .popup .content .price .before{
    color: #999;
    text-decoration: line-through;
    font-size: 2.2rem;
}
.popup-overlay .popup .content .stars i{
    font-size: 1.5rem;
    color: var(--gold);
}
.popup-overlay .popup .content .description{
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem 0;
}
.popup-overlay .popup .content h4.file-formats{
    font-size: 1.8rem;
    display: inline-block;
    padding: 0.5rem;
    border-bottom: 0.2rem solid #000;
}
.popup-overlay .popup .content ul.formats{
    list-style: none;
    margin-top: 1rem;
}
.popup-overlay .popup .content ul.formats li{
    font-size: 1.8rem;
}
.popup-overlay .popup .content .btn{
    padding: 0.5rem;
    position: relative;
    display: block;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}

.accordion{
    width: 100%;
    margin-top: 2rem;
}
.accordion-item{
    margin: 1rem auto;
}
.accordion-link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    background: var(--bg);
    border-radius: 1rem 1rem 0 0;
}
.accordion-link .fa-minus{
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    background: var(--blue);
    position: relative;
    border-radius: 0 0 1rem 1rem;
}
.answer::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 100%;
    width: 1rem;
    background: var(--primary);
    transform: translateY(-50%);
}
.answer p{
    font-size: 1.8rem;
    color: #fff;
    padding: 1rem 3rem;
    line-height: 4rem;
}
.accordion-item.open .answer{
    max-height: 60rem;
    overflow: auto;
}
.accordion-item.open .fa-plus{
    display: none;
}
.accordion-item.open .fa-minus{
    display: block;
}

#articles img{
    width: 15rem;
    height: 15rem;
    border: 0.2rem solid #ccc;
}
#articles img,
#about-me img{
    border-radius: 1.5rem;
}
#articles a h4{
    position: relative;
}

#articles .article-summary{
    color: #000;
    font-size: 2rem;
}
#articles .btn{
    padding: 0.5rem 2rem;
    display: inline-block;
    width: auto;
}


#hire-me p{
    font-size: 2.5rem;
    padding: 2rem;
    margin: 5rem;
    background: var(--blue);
    color: #fff;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}
#hire-me p::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 1.5rem;
    background: var(--primary);
}

#footer{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #000;
    min-height: 4rem;
    padding: 0.5rem 4rem;
    width: 100%;
}
#footer .copy-rights h5{
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2rem;
}
#footer .links ul{
    display: flex;
    list-style: none;
}
#footer .links ul li{
    padding: 0.5rem;
}
#footer .links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
#footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .social a{
    text-decoration: none;
    padding: 1.8rem;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
}
#footer .social a:hover{
    transform: translateY(-10%);
    color: var(--primary);
}

@media(max-width:1024px){
    html{
        font-size: 60%;
    }
    .gallery .box-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:768px){
    
    html{
        font-size: 45%;
    }
    .fa-bars{
        font-size: 4rem;
        cursor: pointer;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        color: #fff;
        background: black;
        padding: 2rem;
        width: 100%;
        text-align: right;
        border-radius: 0rem;
        z-index: 1000;
    }
    nav{
        position: fixed;
        top: 0;
        left: -120%;
        width: 100vw;
        height: 100vh;
        background: var(--primary);
        padding: 4rem;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        /* border-right: 0.5rem solid#000; */
    }
    nav .logo{
        height: 20rem;
    }
    nav .logo a img{
        width: 15rem;
        padding: 0;
    }
    nav .logo h2{
        display: none;
    }
    nav .links{
        width: 100%;
        height: 100%;
    }
    nav .links ul{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    nav .links ul li{
        margin: 0.5rem;
        display: block;
    }
    nav .links ul li a{
        padding: 2rem;
        font-size: 3.5rem;
        text-decoration: none;
        color: #fff;
        border: none;
        border-radius: 1rem;
    }
    .nav.fa-times{
        right: 2rem;
        top: 2rem;
        background: #000;
        width: auto;
        color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        z-index: 1000;
    }
    .mob-nav{
        left: 0;
    }
    .fixed-header{
        border-bottom: none;
    }
    
    .gallery .box-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery .box-container .box .overlay i{
        font-size: 6rem;
    }
    #contact-form{
        width: 80%;
    }
}

@media(max-width:580px){
    .popup-overlay .popup{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }
    .popup-overlay .popup .images{
        /* justify-content: space-between;
        align-items: center; */
        margin-top: 2rem;
    }
    .popup-overlay .popup .images .big-image img{
        width: 80%;
    }
    #contact-form{
        width: 100%;
    }
    #footer{
        flex-flow: column-reverse;
    }
}
@media(max-width:425px){
    .gallery .box-container{
        grid-template-columns: 1fr;
    }
    #articles .card{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}